:root {
    /* COLORS */
  --black: #0e0e0e;
  --dark-gray: #2c3033;
  --gray: #6b6b6b;
  --light-gray: #e6e6e6;
  --white: #ffffff;
  --red: #e80013;
  --dark-red: #b52a36;
  --green: #4CAF50;
  --dark-green: #45a049;

  /* SPACING */
  --font-size-default: 16px;
  --font-size-large: 24px;

  --hero-section-min-height: 80vh;

  --general-column-gap: 20px;
  --general-column-gap-desktop: 28px;

  --general-gap-desktop: 12px;

  --section-padding-block: 96px;

  --border-radius-s: 10px;
  --border-radius-l: 20px;

  --footer-block-padding: 32px;
  --footer-inline-padding: 7%;
}

/* Border box sizing to include padding and border with content */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Reset margin for elements that automatically apply margin */
h1, h2, h3, h4, p, button {
  margin: 0;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white); /* Override whenever needed */
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
    grid-template-columns: minmax(0, 1fr);
}

header {
  width: 100%;
  margin: 0;
  min-height: 8rem;
  background-color: var(--dark-gray);
  justify-content: center;
  align-items:center;
  display: flex;
  position: fixed;
  top: 0;
  border-bottom: var(--red) 4px solid;
  grid-area: header;
  z-index: 1000;
  font-family: VT323, monospace;
  font-size: var(--font-size-large);
}

nav {
  background-color: var(--dark-gray);
  min-height: 50px;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position:relative;
}

.logo-link {
  text-decoration: none;
  min-width:15%;
}

nav #myLinks {
  display: none;
}

#myLinks {

  border-top: 4px solid var(--red);
  border-bottom: 4px solid var(--red);
  text-align: center;
}

#myLinks a:nth-child(1), #myLinks a:nth-child(2) {
   border-bottom: 1px solid var(--red);
 

}
nav a {
  padding: 0.6rem 0.8rem;
  text-decoration: none;
  color: var(--white);
  display: block;
  

}

nav a.icon {
  background: var(--dark-gray);
  display:block;
  position:absolute;
  border: 1px solid var(--black);
  border-radius: 0.5rem;
  left: 3vw;
  top: 4vw;
}


.nav-links {
  list-style-type: none;
  display: none;
  font-weight: bold;
  justify-content: space-evenly;
  align-items: end;
  /* gap: 10px; */
  min-width: 45%;
}

.nav-links a {
  text-decoration: none;
  color: white;
  border: 1px solid var(--red);
  padding: 0.5rem;
  border-radius: 0.5rem;
  
}

.nav-links a:nth-child(1) {
  padding: 0.5rem 1rem;
}

a:hover {
  color: var(--red);
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 35%;
  padding: 0.5rem;

}


.search-container {
  display: flex;
  justify-content: space-evenly;
}
.fa-search:hover {
  color: var(--red);
  cursor: pointer;
  transition: color 0.3s ease;

}

.cart-button {
  /* margin-left: auto; uses all the space left on the LEFT */
  background: transparent;
  border: 2px solid var(--red);
  color: var(--white);
  padding: 0.55rem 1.1rem;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.15s ease, transform 0.15s ease;

}

.cart-button:hover {
  background: var(--red);
  transform: translateY(-2px);
}

main {
    grid-area: main;
}

#wrapper {
  margin-top: 8rem;
}

#up {
    position: fixed;
    cursor: pointer;
    width: 50px;
    margin-right: 5px;
    right: 20px;
    bottom: 60px;
}

footer {
  /* margin-top: 400px; This is replaced by using a header -> main -> footer grid-template-areas config instead */
  /* border: 1px solid black; */
  min-height: 240px;
  background-color: var(--dark-gray);
  padding: var(--footer-block-padding) var(--footer-inline-padding); /* Added some top and bottom padding */
  text-align: center;
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-size-default);
  border-top: 4px solid var(--red);
}

footer > p {
  /* border: 1px solid black; */
  /* color: white; Moved to body*/
  padding: 4px;
  max-width: 50ch;
} 

.footer-images {
  display: flex;
  justify-content: center;
  gap: 4px;
}

#footer-mail {
  /* text-decoration: none; */
  color: white; /* This one is actually needed here */
}

#footer-mail:hover {
  color: var(--red);
}



/* --  tablet -- */
@media screen and (min-width:768px) {

nav {
  min-width: 90%; 
  min-height: 100%;
  flex-direction: row;
}

.nav-links {
  display: flex;
  min-width: 30%;

  }

nav a.icon {
    display: none;
    
  }


.logo-link {
  min-width:10%;
}

.header-right {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
   /* min-height: 80%; */
    min-width: 25%;
}

  .cart-button {
    align-self: flex-end;
}
}

    footer {
        padding: calc(var(--footer-block-padding) * 1.2) calc(var(--footer-inline-padding) * 1.2)
    }

/* small desktop */
@media screen and (min-width:960px) {

    #wrapper {
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
    }

    footer {
        padding: calc(var(--footer-block-padding) * 1.5) calc(var(--footer-inline-padding) * 1.5);
        font-size: var(--font-size-large);
    }

    .logo-link {
     min-width:20%;
    }

        .nav-links {
  min-width: 35%; 
  }

    .header-right {
      min-width: 30%;
    
    }
  }

/* large desktop */
@media screen and (min-width:1200px) {
    #wrapper {
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
    }

    
    .logo-link {
     min-width:25%;
    }

        .nav-links {
  min-width: 40%; 
  }

    .header-right {
      min-width: 35%;
    
    }
}
