:root {
  --black: #0e0e0e;
  --dark-gray: #2c3033;
  --gray: #6b6b6b;
  --light-gray: #e6e6e6;
  --white: #ffffff;
  --red: #e80013;
  --dark-red: #b52a36;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white); /* Override whenever needed */
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
}

header {
  width: 100%;
  margin: 0;
  min-height: 120px;
  background-color: var(--dark-gray);
  justify-content: center;
  display: flex;
  position: fixed;
  top: 0;
  border-bottom: var(--red) 4px solid;
  grid-area: header;
}

nav {
  background-color: var(--dark-gray);
  min-height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/*#div-navbar {
  min-height: 20px;
  border: black 6px solid;
  width: 100px;
}*/

#link {
  list-style-type: none;
  display: flex;

  justify-content: space-evenly;
  gap: 10px;
}

#link a {
  text-decoration: none;
  color: white;
}

#link a:hover {
  color: #949c94;
}

.cart-button {
  margin-left: auto; /*uses all the space left on the LEFT*/
  background: transparent;
  border: 2px solid var(--red);
  color: var(--white);
  padding: 0.55rem 1.1rem;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.15s ease, transform 0.15s ease;
}

.cart-btn:hover {
  background: var(--red);
  transform: translateY(-2px);
}

main {
    grid-area: main;
}

#up {
    position: fixed;
    cursor: pointer;
    width: 50px;
    margin-right: 5px;
    right: 20px;
    bottom: 60px;
}

footer {
  /* margin-top: 400px; This is replaced by using a header -> main -> footer grid-template-areas config instead */
  /* border: 1px solid black; */
  min-height: 240px;
  background-color: var(--dark-gray);
  padding: 32px 7%; /* Added some top and bottom padding */
  text-align: center;
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer > p {
  /* border: 1px solid black; */
  /* color: white; Moved to body*/
  padding: 4px;
  width: 50ch;
} 

.footer-images {
  display: flex;
  justify-content: center;
  gap: 4px;
}

#footer-mail {
  text-decoration: none;
  color: white; /* This one is actually needed here */
}

#footer-mail:hover {
  color: #949c94;
}

/*--Hamburger menu--*/

/*This is jus a test */
/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

label {
  cursor: pointer;
}

.header {
  height: 80px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  max-width: 1200px;
}

#toggle-menu,
#toggle-modal {
  display: none;
}

.hamburger {
  width: 24px;
  display: block;
  cursor: pointer;
}

.hamburger-bar {
  width: 100%;
  display: block;
  height: 2px;
  border-radius: 2px;
  background: #111;
}

.hamburger-bar + .hamburger-bar {
  margin-top: 4px;
}

.nav {
  display: block;
  position: absolute;
  background: white;
  top: 80px;
  left: -9999px;
  opacity: 0;
  width: 100%;
  transition: left 0s 0.2s, opacity 0.2s;
}

#toggle-menu:checked ~ .header .nav {
  opacity: 1;
  left: 0;
  transition: left 0s, opacity 0.2s;
}

.nav li {
  border-bottom: 1px solid #ddd;
}

.nav a {
  color: #666;
  transition: 0.2s color;
  display: block;
  padding: 20px;
}

.nav a:hover {
  color: #111;
}

.modal {
  position: fixed;
  top: 0;
  left: -9999px;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  padding: 40px 0;
  overflow: auto;
  transition: left 0s 0.2s, opacity 0.2s;
}

#toggle-modal:checked ~ .modal {
  left: 0;
  opacity: 1;
  transition: left 0s, opacity 0.2s;
}

.modal-box {
  width: 90%;
  max-width: 600px;
  background: white;
  padding: 60px;
  border-radius: 16px;
  text-align: center;
  margin: auto;
  opacity: 0;
  transform: translateY(40px);
  transition: 0.2s opacity, 0.2s transform;
}

#toggle-modal:checked ~ .modal .modal-box {
  transform: none;
  opacity: 1;
}

@media (min-width: 600px) {
  .hamburger {
    display: none;
  }

  .nav {
    display: inline-flex;
    align-items: center;
    gap: 32px;
    position: static;
    width: auto;
    opacity: 1;
  }

  .nav li {
    border: none;
  }

  .nav a {
    padding: 0;
  }
}*/
/*test ends here */



/* tablet */
@media screen and (min-width:768px) {
    
}

/* small desktop */
@media screen and (min-width:960px) {
    #wrapper {
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
    }
}

/* large desktop */
@media screen and (min-width:1200px) {
    #wrapper {
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
    }
}
