@import url('https://fonts.googleapis.com/css2?family=Monoton&family=VT323&display=swap'); 
/* Font: Monotone static */

body {
background-color: black

}

#wrapper {
    width: 100%;
    margin-top:14.4rem;
}

#main-content {
    width: 100%;
    background-color: black;
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;  
} 

    /* -- HERO -- */

.hero-wrapper {
        display:none;
 } 

 .hero-text p { 
    display:none;
 }

.hero-mobile-tablet {
    background-image: url(../img/Homepage/Hero-slider1-mobile.JPG);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 20vh;
    display:flex; 
    justify-content: center;
}

.hero-button1 {
    background: var(--black);
    font-size: var(--font-size-large);
    font-family: 'VT323', monospace;
    border: 3px solid var(--red);
    color: var(--white);
    border-radius: 0.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.15s ease, transform 0.15s ease;
}

.hero-button1:hover {
    background: var(--red);
    transform: scale(1.05);
    opacity: 1;
    color: var(--black);
}

.hero-text {
    color: white;
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: var(--font-size-general);  
    margin-top: 2rem;
    margin-bottom: 12rem;
}

.hero-text > h1 { 
    background-color: var(--black);
    margin-bottom:2rem;
    padding: 0.3rem;
    border: 3px solid var(--red);
}

.hero-banner {
    background-color: var(--red);
    min-width: 100%;
    margin-top: 0.8rem;
    text-align: center;

}


    /* -- PRODUCT SECTION -- */

.product-section {
    background-color: black;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display:grid;
    grid-template-columns: column;
    font-size: var(--font-size-general);  
    align-content: center;  
}

.product-section h2 {
    margin: 1.5px 0px;
    padding: 1rem;
    border-left: 5px solid var(--red);  
}

.product-row {
    display: grid; 
    grid-template-columns:repeat(1, minmax(0, 1fr));
    gap: var(--general-gap-desktop);
    justify-content:flex-start;
    flex-wrap: wrap;
    margin: 1rem;
    
}

.product-card {
    min-height: 18.75rem; /* Ca 300 px */
    border: 3px solid var(--red);
    border-radius: 1.5rem;
    padding: 1rem;
    text-align: center;
    background-color: white;
    color: black;
    margin: 0.5rem;
    display:grid;
    align-items: end;
}

.product-card:hover {
    transform: translateY(-4px) rotate(-0.5deg); 
}

.product-card a {
    cursor:pointer;
}

.text-products {
    display:flex;

}

footer {
    margin: 0;
}

    /* -- TABLET -- min 768px -- */
@media screen and (min-width:720px) {

#wrapper {
    margin-top:11rem;
}

.hero-mobile-tablet {
    background-image: url(../img/Homepage/Hero-slider1-tablet.JPG);
    background-size: 100%;
    min-height: 40vh;

}

.hero-text {
    color: white;
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: var(--font-size-general);  
    margin-top: 1rem;
}

.hero-text > h1 { 
    background-color: var(--black);
    padding: 0.2rem;
    margin-bottom:0;
    border:none;
    border-left: 2px solid red;
    border-right: 2px solid red;
    border-top: 2px solid red;
    
    
}

.hero-text p {
    display:flex;
    background-color: var(--black);
    font-size: var(--font-size-large);
    padding-bottom: 0.5rem;
    border-left: 2px solid red;
    border-right: 2px solid red;
    border-bottom: 2px solid red;
}
.hero-button1 {
    padding: 0.55rem 0.8rem;
    margin-top: 1rem;
}
.hero-banner {
    background-color: var(--red);
    max-width: 100vh;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
    color: white;
}

.product-row {
    display:grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5rem;
    justify-content:flex-start;
    flex-wrap: wrap;
    margin: 0.5rem; 
}
}
    /* -- SMALL DESKTOP -- min 960px -- */

@media screen and (min-width:960px) {

#main-content {
    overflow: hidden;
}

.div-side {
        background-color: black;
    }   
    
    /* -- HERO -- */
.hero-wrapper {
    display:unset;
}
.hero-mobile-tablet {
    display:none;

}

.hero-wrapper {
    background-color: black;
    max-width: 100%;
    max-height: 40vh;
    overflow: hidden;
    display:flex;
    
}

.hero-carousel {
    display: flex;
    background-color: black;
    width: 300%;
    max-width:none;
    max-height: 70%;
    margin: 0 auto;
    animation: slider-animation 15s infinite alternate; 

}

.slider-1, .slider-2, .slider-3 {
    display: flex;
    width: calc(100% /3);
    height: 45vh;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
}        

@keyframes slider-animation {
    0%{ transform: translateX(0); 
    }
    33.33%{ transform: translateX(0); 
    }
    66.66%{ transform: translateX(-33.33%); 
    }
    100%{ transform: translateX(-66.66%); 
    }
}

.slider-1 {
    background-image: url(../img/Homepage/Hero-slider1-smalldesktop.JPG);
    background-size: 137%;
    background-repeat: no-repeat;
}

.slider-2 {
    background-image: url(../img/Homepage/HERO-slide2.JPG);
    background-size: 122%;
    background-repeat: no-repeat;
}

.slider-3 {
    background-image: url(../img//Homepage/HERO-slider3.PNG);
    background-size: 124%;
    background-repeat: no-repeat;
}

.hero-text {
    color: white;
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: var(--font-size-large);
    margin-bottom:0;
    margin-left: 1rem;  


}

.hero-text > h1 { 
    background-color: var(--black);
}

.hero-text p {
    background-color: var(--black);
    font-size: var(--font-size-general);
    padding-bottom: 0.5rem;
}

.hero-button1, .hero-button2, .hero-button3 {
    background: var(--black);
    font-size: var(--font-size-large);
    font-family: 'VT323', monospace;
    border: 3px solid var(--red);
    color: var(--white);
    padding: 0.55rem 0.8rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.15s ease, transform 0.15s ease;
}

.hero-button1:hover, .hero-button2:hover, .hero-button3:hover {
    background: var(--red);
    transform: scale(1.05);
    opacity: 1;
    color: var(--black);
}

/* .hero-banner {
    background-color: var(--red);
    max-width: 100vh;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
    color: white;
} */

.product-row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin: 1.5rem;
       
}

}

    /* -- LARGE DESKTOP -- min 1200 px --*/

@media screen and (min-width:1200px) {

    /* -- HERO -- */
    .slider-1, .slider-2, .slider-3 {
    height: 80vh;
} 

.slider-1 {
    background-image: url(../img/Homepage/Hero-slider1-largedesktop.JPG);
    background-size: 120%;
    background-repeat: no-repeat;
}

.slider-2 {
    background-image: url(../img//Homepage/HERO-slide2.JPG);
    background-size: 120%;
    background-repeat: no-repeat;
}

.slider-3 {
    background-image: url(../img//Homepage/HERO-slider3.JPG);
    background-size: 120%;
    background-repeat: no-repeat;
}

.product-row {
  
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin: 1.5rem;
}

 }

 /* Larger desktop - To make the HERO-slider work a bit better on even larger desktops */

 @media screen and (min-width: 1340px) {
#wrapper{
       grid-template-columns: 2fr 6fr 2fr; 
    }

.slider-1, .slider-2, .slider-3 {
    height: 80vh;
}    
  

.slider-1 {
    background-image: url(../img/Homepage/Hero-slider1-largedesktop.JPG);
    background-size: 100%;
    background-repeat: no-repeat;
}

.slider-2 {
    background-image: url(../img//Homepage/HERO-slide2.JPG);
    background-size: 100%;
    background-repeat: no-repeat;
}

.slider-3 {
    background-image: url(../img//Homepage/HERO-slider3.PNG);
    background-size: 100%;
    background-repeat: no-repeat;
}
 }