#wrapper {
    background-color: black;
     color: white;
}
.main-content {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    }

hero { 
    width: 100%;
    height: 100vw
} 
  .hero-image { 
    height: 100vw;
    width: 100%;
    padding: 2px;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 8px 8px 15px rgba(224, 221, 221, 0.3);
}



.div-side {
   background-color: black;
}

.product-section {
    margin-top: 50px;
    margin-bottom: 50px;
    display:grid;
    grid-template-columns: column;
}

.product-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content:flex-start;
    flex-wrap: wrap;
    margin: 20px;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 16px;
    text-align: center;
    background-color: white;
    color: black;
}

footer {
    margin: 0;
}

/* tablet */
@media screen and (min-width:768px) {

}

/* small desktop */
@media screen and (min-width:960px) {
        #wrapper {
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
        
    }

    hero { 
    height: 40vw
} 
  .hero-image { 
    height: 40vw;
}

    .div-side {
        background-color: black;
    }   
    
    
}

/* large desktop */
@media screen and (min-width:1200px) {
        #wrapper {
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
    }

    .div-side {
        background-color: black;
    }   
}