@import url('https://fonts.googleapis.com/css2?family=Monoton&family=VT323&display=swap'); 
/* Font: Monotone static */

.main-content {
    background-color: black;
     padding-top: 10rem;

    /* display: flex;
    justify-content: center;
    align-items: center;
    color: white;  */
}

#wrapper {
    background-color: black;
 
}   

.hero-wrapper {
    background-color: black;
    max-width: 100rem;
    margin: 0 auto;
    padding-top: 1em;
    position: relative;
}

.hero-carousel {
    background-color: black;
    max-width: 100rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    margin: 0 auto;
    display: flex;
    gap: 3em;
    scroll-behavior: smooth;
    /* padding: 1em; */
   /* justify-content: center; */
    flex-direction: row;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    /* border-radius: 0.5rem; */
    /* scrollbar-width: none; Firefox */
    /* -ms-overflow-style: none; Internet Explorer 10+ */
}

/* .hero-carousel ::-webkit-scrollbar {
    display: none; Hide scrollbar for Chrome, Safari and Opera
} */

/* 
.hero-carousel::scroll-button(right), .hero-carousel::scroll-button(left) {
    content: '>';
    border: solid white 1px;
    background-color: var(--red);
    font-size: 3rem;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding-bottom: .1em;
    cursor: pointer;
    position: fixed;

}

.hero-carousel::scroll-button(left) {
    content: '<';
    position-area: left center; */
/* } */

/* .hero-carousel::scroll-button(right):disabled, .hero-carousel::scroll-button(left):disabled {
    opacity: 0.5;
    cursor: not-allowed;
} */

#slider-1, #slider-2, #slider-3 {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    height: 21 em;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    min-width: 90%;
    /* background-color: black; */
    padding: 2em;
    border-radius: .5em;
    border: solid var(--red) 3px;
    box-shadow: 0 4px 8px rgba(221, 208, 208, 0.1);
    transition: transform 0.3s ease;
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

#slider-1 {
    /* background-image: url(/img/homepage/arcade-old-game-castle-scene.jpg);  */
    /* background-size: cover; */
}

#slider-2 {
    background-color: var(--red);
    border: solid var(--white) 2px;
}

#slider-3 {
    background-color: var(--red);
    border: solid var(--white) 2px;
}


.hero-text {
    color: white;
    font-family: 'VT323', monospace;
    text-align: center;
    margin-bottom: 1em;
    font-size: var(--font-size-large);
    grid-area: hero-text1;  
    
}

.hero-button1 {
    background: transparent;
    font-size: var(--font-size-large);
    font-family: 'VT323', monospace;
    border: 2px solid var(--red);
    color: var(--white);
    padding: 0.55rem 1.1rem;
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.15s ease, transform 0.15s ease;
    grid-area: hero-button1;

}

.hero-button1:hover {
    background: var(--red);
    transform: scale(1.05);
    opacity: 1;
    color: var(--black);
}

.hero-button2, .hero-button3 {
    background: var(--black);
    font-size: var(--font-size-large);
    font-family: 'VT323', monospace;
    border: 2px solid var(--white);
    color: var(--red);
    padding: 0.55rem 1.1rem;
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.15s ease, transform 0.15s ease;

}

.hero-button2:hover, .hero-button3:hover {
    background: var(--red);
    transform: scale(1.05);
    opacity: 1;
    color: var(--black);
}

.hero-slider1, .hero-slider2, .hero-slider3 {
  width: 100%;
  display:grid;
  grid-template-areas:
  "hero-text1" "hero-slider1" "hero-slider1"
  "hero-text1" "hero-slider1" "hero-slider1"
   "hero-button1" "hero-slider1" "hero-slider1"
   "hero-banner" "hero-slider1" "hero-slider1";
}

.hero-slider1 {
   grid-area: "hero-slider1";
}

.pixel-figures {
    grid-area: "pixel-figures";
}

.hero-banner {
    background-color: var(--red);
    max-width: 40%;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
    color: white;
    font-size: var(--font-size-large);
}

.product-section {
    background-color: black;
    padding-top: 100px;
    padding-bottom: 100px;
    
    display:grid;
    grid-template-columns: column;
}

.product-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content:flex-start;
    flex-wrap: wrap;
    margin: 20px;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 16px;
    text-align: center;
    background-color: white;
    color: black;
}

footer {
    margin: 0;
}

/* tablet */
@media screen and (min-width:768px) {

}

/* small desktop */
@media screen and (min-width:960px) {
        #wrapper {
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
        
    }

    .div-side {
        background-color: black;
    }   
    
    .hero-carousel {
        flex-direction: row;
    }

}

/* large desktop */
@media screen and (min-width:1200px) {
        #wrapper {
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
    }

}

header {
    z-index: 1000;
}