@import url('https://fonts.googleapis.com/css2?family=Monoton&family=VT323&display=swap'); 
/* Font: Monotone static */

.main-content {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    color: white;
    /* position: relative; */
    
    }

.hero-section { 
    background-color: var(--black);
    width: 48rem;
    height: 40vh;
    padding: 2rem;
    margin:0 auto;
    overflow-x: auto;
    
    display: flex;
    justify-content: center;
    /* position: relative; */
    transition: all .5s linear;
     /*  Hur gör jag detta element starkare så hero-boxes håller sig i den.*/
     border-radius: 0,5rem;
    
} 

.hero-content {
   display:flex
}

.hero-content .hero-box {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transform: translate(-50%, -50%);
    padding-top:50px;
}

.hero-content .hero-box:nth-child(1) {

    background-color: #990000; 
    background-image: linear-gradient(147deg, #990000 0%, #ff0000 74%); 
}

.hero-content .hero-box:nth-child(2) {
    border: 1px solid black;
    background-color: white;
    /* background-color: #990000;
    background-image: linear-gradient(147deg, #ff0000 0%,  #990000 74%); */
}
.hero-content .hero-box:nth-child(3) {
    border: 1px solid black;
    background-color: grey;
    /* background-color: #990000;
    background-image: linear-gradient(147deg, #990000 0%, #ff0000 74%); */
}

.hero-slider-tabs input {
    visibility: hidden;
    display: none;
}


.labels {   
    display: flex;
    gap: 10px;
    position: absolute; 
    bottom: 15%;
    left: 15%;   
    transform: translateX(-50%, -50%);
    z-index: 10; /* for them to be always on top */
    
}

.labels label {
    height: 15px;
    width: 10px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}
.hero-slider-tabs input:nth-child(1):checked ~ .labels label:nth-child(1),
.hero-slider-tabs input:nth-child(2):checked ~ .labels label:nth-child(2),
.hero-slider-tabs input:nth-child(3):checked ~ .labels label:nth-child(3) {
    width: 50px;
    background-color: var(--red);
    opacity: 1;
}
/* 
  .hero-image { 
    height: 100vw;
    width: 100%;
    padding: 2px;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 10px rgba(224, 221, 221, 0.308); 
    box-shadow: rgba(255, 255, 255, 0.144) 0px 10px 10px 10px;
    box-shadow: rgba(74, 74, 80, 0.267) 0px 4px 16px, rgba(127, 127, 151, 0.452) 0px 8px 32px;
}  */




.div-side {
   background-color: var(--black);
}

.product-section {
    background-color: var(--black);
    padding-top: 100px;
    padding-bottom: 100px;
    
    display:grid;
    grid-template-columns: column;
}

.product-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content:flex-start;
    flex-wrap: wrap;
    margin: 20px;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 16px;
    text-align: center;
    background-color: white;
    color: black;
}

footer {
    margin: 0;
}

/* tablet */
@media screen and (min-width:768px) {

}

/* small desktop */
@media screen and (min-width:960px) {
        #wrapper {
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
        
    }

    .div-side {
        background-color: black;
    }   
    
}

/* large desktop */
@media screen and (min-width:1200px) {
        #wrapper {
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
    }

    .div-side {
        background-color: black;
    }   
}