@import url('https://fonts.googleapis.com/css2?family=Monoton&family=VT323&display=swap'); 
/* Font: Monotone static */

body {
font-family: "VT323", "Monoton";

}

#wrapper {
    width: 100%;
}

#main-content {
    width: 100%;
    overflow: hidden;
    background-color: black;
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;  

} 

    /* -- HERO -- */

.hero-wrapper {
    background-color: black;
    max-width: 100%;
    overflow: hidden;
    display:flex;

  
}

.hero-carousel {
    background-color: black;
    width: 300%;
    max-width:none;
    max-height: 80vh;
    margin: 0 auto;
    display: flex;
    /* flex-direction: row; */
    animation: slider-animation 15s infinite alternate;
   

     
}

.slider-1, .slider-2, .slider-3 {

    width: calc(100% /3);
    /* flex: 0 0 100%; */
    height: 70vh;
    /* object-fit: cover; */
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    /* border: solid var(--red) 3px; */
    box-shadow: 0 4px 0 rgba(221, 208, 208, 0.1); 
    justify-content: center;
    align-items:center;
    /* transition: transform 1s ease; */
    
    
}    

@keyframes slider-animation {
    0%{ transform: translateX(0); 
    }
    33.33%{ transform: translateX(0); 
    }
    66.66%{ transform: translateX(-33.33%); 
    }
    100%{ transform: translateX(-66.66%); 
    }
}

.slider-1 {
    background-image: url(../img/Homepage/Hero-slider-background_test2.JPG);
    background-size: 80%;
    background-repeat: no-repeat;
}

.slider-2 {
    background-image: url(../img//Homepage/Dungeon-chest.PNG);
    background-size: 100%;
    background-repeat: no-repeat;
}

.slider-3 {
    background-image: url(../img//Homepage/SNES-background_test.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.hero-text {
    color: white;
    font-family: 'VT323', monospace;
    text-align: center;
    margin-bottom: 1em;
    font-size: var(--font-size-large); 
    
}

.hero-text > h1 { 
    background-color: var(--black);
}

.hero-text p {
    background-color: var(--black);
    font-size: var(--font-size-large);
}

.hero-button1, .hero-button2, .hero-button3 {
    background: var(--black);
    font-size: var(--font-size-large);
    font-family: 'VT323', monospace;
    border: 3px solid var(--red);
    color: var(--white);
    padding: 0.55rem 1.1rem;
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.15s ease, transform 0.15s ease;

}

.hero-button1:hover, .hero-button2:hover, .hero-button3:hover {
    background: var(--red);
    transform: scale(1.05);
    opacity: 1;
    color: var(--black);
}

.hero-banner {
    background-color: var(--red);
    min-width: 100%;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}


    /* -- PRODUCT SECTION -- */

.product-section {
    background-color: black;
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
    
    display:grid;
    grid-template-columns: column;
    font-size: var(--font-size-large);
    
}

.product-section h2 {
    margin: 1.5px 0px;
    padding: 1rem;
    border-left: 5px solid var(--red);  
}

.product-row {
    display: grid; 
    grid-template-columns:repeat(1, minmax(0, 1fr));
    gap: var(--general-gap-desktop);
    justify-content:flex-start;
    flex-wrap: wrap;
    margin: 1rem;
    
}

.product-card {
    height: 18.75rem; /* Ca 300 px */
    border: 1px solid #ccc;
    border-radius: 1.5rem;
    padding: 1rem;
    text-align:center;
    background-color: white;
    color: black;
    margin: 0.5rem;
    /* max-width: 31.25rem; */
    display:grid;
    align-items: end;
}

.product-card a {
    cursor:pointer;
}

.text-products {
    display:flex;

}

footer {
    margin: 0;
}

    /* -- TABLET -- */
@media screen and (min-width:768px) {

    .hero-carousel {
        min-width: 300vw;
        min-height: 60wh;
    }

    .hero-banner {
    background-color: var(--red);
    max-width: 100vh;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
    color: white;
    font-size: var(--font-size-large);
}

.product-row {
    display:grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5rem;
    justify-content:flex-start;
    flex-wrap: wrap;
    margin: 0.5rem; 
    }
}


    /* -- SMALL DESKTOP -- */

@media screen and (min-width:960px) {
        /* #wrapper {
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;    */
    /* } */

#main-content {
    width: 100%;
    overflow: hidden;
}

.div-side {
        background-color: black;
        /* min-height: 100%; */
    }   
    
.hero-wrapper { 
        min-width: 100%;
        overflow: hidden;
    }

.hero-carousel {
        width: 300%;
        max-width: 0;
    }
.slider-1 {
    background-image: url(../img/Homepage/Hero-slider-background_test2.JPG) center/cover no-repeat;
    background-size: 80%;
}

.slider-2 {
    background-image: url(../img//Homepage/Dungeon-chest_test.PNG) center/cover no-repeat;
    background-size: 80%;
}

.slider-3 {
    background-image: url(../img//Homepage/SNES-background_test.png) center/cover no-repeat;
    background-size: 80%;
}


.product-row {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin: 1.5rem;
    /* align-items: center */
}

.product-card {
    height: 18.75rem; /* Ca 300 px */
}


}

    /* -- LARGE DESKTOP -- */

@media screen and (min-width:1200px) {
        /* #wrapper {
        display: grid;
        grid-template-columns: 1fr 8fr 1fr; */
        
    /* } */

    .product-card {
    height: 500px;
    }

    .hero-wrapper { 
        max-width: 100vh;
        max-height: 80vh;
        
    }

 }