@import url('https://fonts.googleapis.com/css2?family=Monoton&family=VT323&display=swap'); 
/* Font: Monotone static */

.main-content {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#wrapper {
    background-color: black;
 
}   


    /* -- HERO -- */

.hero-wrapper {
    background-color: black;
    max-width: 100%;
    max-height: 100vh;
    position: relative;
    display:flex;
    /* overflow: hidden; */
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  
}

.hero-carousel {
    background-color: black;
    max-width: 300vw;
    max-height: 40vh;
    margin: 0 auto;
    display: flex;
    scroll-behavior: smooth;
    flex-direction: row;
    animation: slider-animation 15s infinite alternate;
     
}

.slider-1, .slider-2, .slider-3 {

    width: calc(100% /3);
    max-height: 80vh;
    object-fit: cover;
    
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    border: solid var(--red) 3px;
    box-shadow: 0 4px 0 rgba(221, 208, 208, 0.1); 
    justify-content: flex-start;
    align-items:center;
    /* transition: transform 1s ease; */
    
    display: flex;
}

@keyframes slider-animation {
    0%{ transform: translateX(0); 
    }
    33.33%{ transform: translateX(0); 
    }
    66.66%{ transform: translateX(-33.33%); 
    }
    100%{ transform: translateX(-66.66%); 
    }
}

.slider-1 {
    background-image: url(../img/Homepage/Hero-slider-background_test2.JPG);
    background-size: 90%;
    background-repeat: no-repeat;
}

.slider-2 {
    background-image: url(../img//Homepage/Dungeon-chest_test.PNG);
    background-size: 80;
    background-repeat: no-repeat;
}

.slider-3 {
    background-image: url(../img//Homepage/SNES-background_test.png);
    background-size: 80%;
    background-repeat: no-repeat;
}

.hero-text {
    color: white;
    font-family: 'VT323', monospace;
    text-align: center;
    margin-bottom: 1em;
    font-size: var(--font-size-large);
    grid-area: hero-text;  
    
}

.hero-text > h1 { 
    background-color: var(--black);
}

.hero-text p {
    background-color: var(--black);
    font-size: var(--font-size-large);
}

.hero-button1, .hero-button2, .hero-button3 {
    background: var(--black);
    font-size: var(--font-size-large);
    font-family: 'VT323', monospace;
    border: 2px solid var(--red);
    color: var(--white);
    padding: 0.55rem 1.1rem;
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.15s ease, transform 0.15s ease;
    grid-area: hero-button;

}

.hero-button1:hover, .hero-button2:hover, .hero-button3:hover {
    background: var(--red);
    transform: scale(1.05);
    opacity: 1;
    color: var(--black);
}


/* .slider-1, .slider-2, .slider-3 {
  width: 100%;
  display:grid;
  grid-template-areas:
  "hero-text" "hero-slider1" "hero-slider1"
  "pixel-figures" "hero-slider1" "hero-slider1"
   "hero-button" "hero-slider1" "hero-slider1"
   "hero-banner" "hero-slider1" "hero-slider1";
} */

.hero-slider1 {
   grid-area: "hero-slider1";
}

.hero-banner {
    background-color: var(--red);
    min-width: 100vh;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
}

    /* -- PRODUCT SECTION -- */

.product-section {
    background-color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    display:grid;
    grid-template-columns: column;
}

.product-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--general-gap-desktop);
    justify-content:flex-start;
    flex-wrap: wrap;
    margin: 20px;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 16px;
    text-align: center;
    background-color: white;
    color: black;
}

footer {
    margin: 0;
}


    /* -- TABLET -- */
@media screen and (min-width:768px) {

    .hero-carousel {
        min-width: 300vw;
        min-height: 50wh;
    }

    .hero-banner {
    background-color: var(--red);
    max-width: 100vh;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
    color: white;
    font-size: var(--font-size-large);
}

}


    /* -- SMALL DESKTOP -- */

@media screen and (min-width:960px) {
        #wrapper {
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
        
    }

    .div-side {
        background-color: black;
        z-index: 1000;
    }   
    
    .hero-wrapper { 
        max-width: 60vw;
        max-height: 60vh;
    }
    
    .slider-1 {
    background-image: url(../img/Homepage/Hero-slider-background_test2.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
    
}

    .slider-2 {
    background-image: url(../img//Homepage/Dungeon-chest_test.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
}

    .slider-3 {
    background-image: url(../img//Homepage/SNES-background_test.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
}

}

    /* -- LARGE DESKTOP -- */

@media screen and (min-width:1200px) {
        #wrapper {
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
    }

        .hero-wrapper { 
        max-width: 100vh;
        max-height: 70vh;
        
        }
