body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer"
    ;
}

header {
    width: 100%;
    margin: 0;
    min-height: 120px;
    background-color: #2C3033;
    justify-content: center;
    display: flex;
    grid-area: header;
}

nav {
    background-color: #2C3033;
    min-height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    grid-area: nav;
}

main {
    grid-area: main;
}

/* Get on the same page and merge into main */
section {
    padding-block: 16px; 
    padding-inline: 16px;
}

/* Merge into main? */
p, h2, button { 
    margin: 0; 
}

#div-navbar {
    min-height: 20px;
    border: black 2px solid;
    width: 100px;
}

#link {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap:10px;
}

#link a {
    text-decoration: none;
    color: white;
}

#link a:hover {
    color: #949C94;
}

#cart-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    /* margin-left: 10px;
    padding-right: 10px; */
    cursor: pointer;
    border-radius: 5px;
}

footer {
    /* margin-top: 400px; need to be taken care of*/ 
    border: 1px solid black;
    min-height: 240px;
    background-color: #2C3033;
    padding-top: 12px;
    padding: 0 7%;
    grid-area: footer;
}

footer > p {
    /* border: 1px solid black; */
    text-align: center;
    margin: 4px;
    color: white;
    padding: 4px;
}

footer > :nth-child(3), footer > :nth-child(5), footer > :nth-child(7) {
    margin-top: 24px;
}

.footer-images {
    display: flex;
    justify-content: center;
    gap: 4px;
}

#leverans {
    display: flex;
    justify-content: center;
}

#footer-mail {
    text-decoration: none;
    color: white;
}

#footer-mail:hover {
    color: #949C94;
}

/* START OF MY CHANGES */

/* #main-content {
    border: 2px solid red;
    min-height: 460px;
} */

.product-hero-section {
    border: 2px solid red;
    min-height: 460px;
    display: grid;
    justify-items: center;
    gap: 8px;
    grid-template-areas:
        "title"
        "media"
        "info"
        "price"
        "button";
}

.product-title {
    grid-area: title;
}

.product-image {
    grid-area: media;
}

.product-info-small {
    border: 2px solid black;
    padding: 6px;
    margin-inline: 8px;
    grid-area: info;
}

.product-price {
    grid-area: price;
}

.product-buy-button {
    grid-area: button;
}

.product-feature-section {
    border: 2px solid green;
    min-height: 280px;
}

.product-upsell-section {
    border: 2px solid blue;
}

.upsell-section-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 6px;
}

.upsell-section-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
}

/* END OF MY CHANGES */

/* tablet */
@media screen and (min-width:768px) {
    /* START OF MY CHANGES */
    .upsell-section-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    /* END OF MY CHANGES */

}

/* small desktop */
@media screen and (min-width:960px) {
        #wrapper {
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
    }

    .div-side {
        background-color: #949C94;
    }    
}

/* large desktop */
@media screen and (min-width:1200px) {
        #wrapper {
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
    }

    .div-side {
        background-color: #949C94;
    }   
}