:root {
    /* COLORS */
    --green: #4CAF50;
    --green-darker: #45a049;

    /* SPACING */
    --content-padding-block: 1.125rem; /* ca 18px */
    --content-padding-inline: 1.875rem; /* ca 30px */
    --button-border-radius: 0.25rem; /* ca 4px */
    --carousel-gap: 1rem;
}

body { 
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
    color: white;
    background-color: black;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

/* Get on the same page and merge into main */
section {
    padding-block: 3rem; /* ca 48px */ 
    padding-inline: 2.25rem /* ca 36px */
}

/* Merge into main? */
p, h2, h3, h4, button { 
    margin: 0; 
}

#link {
    display: none;
}

/* Move this into general.css? */
img {
  max-width: 100%;
  height: auto; /* This tells the browser: 'Ignore the HTML height attribute and use the Aspect Ratio instead' */
  display: block;
}

.product-hero-section {
    /* border: 2px solid red; */
    padding-top: 4.5rem; /* ca 72px */
    min-height: 28.75rem; /* ca 460px */
    display: grid;
    justify-items: center;
    gap: 1.5rem; /* ca 24px */
    grid-template-areas:
        "title"
        "media"
        "media-thumbnails" /* NEW: Små bilder under hero bilden. Här på mobil och tablet, annan placement på desktop */
        "info"
        "price"
        "button";
}

.product-title {
    grid-area: title;
    border-left: 0.313rem solid var(--red); /* ca 5px */
    padding-left: 0.5rem;
}

.hero-img-wrapper {
    grid-area: media;
    min-height: auto; /* EDIT: Bytte från ca 320px till auto för att undvika ett onödigt gap mellan hero image och thumbnail images*/
    width: 100%;
    max-width: 31.25rem; /* ca 500px */ /* Se till att bilden inte blir för stor på mobil */
    display: flex;
    place-content: center;
}

.product-main-image {
    border-radius: 0.5rem;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.45); 
    border: 1px solid rgba(255, 255, 255, 0.8); /* Subtle edge definition */
}

.hero-thumbnails {
    grid-area: media-thumbnails;
    display: flex;
    gap: var(--carousel-gap);
    width: 100%;
    max-width: 31.25rem; /* Matchar hero-img-wrapper max-width */
    /* justify-content: space-between; */
}

.hero-thumbnails img {
    /* Tvinga alla thumbnails att vara samma höjd; uniform size */
    height: 3.75rem; /* ca 60px */

    /* Dessa två rader tillsammans gör bilderna lika stora. flex: 1 funkar för 
    containers och andra element. Men inte bilder! Lösningen är width: 0 */
    flex: 1; 
    width: 0;

    /* Beskär bilden och fyll bilden centrerat utan att stretcha */
    object-fit: cover; 
    object-position: center;

    border: 1px solid rgba(255, 255, 255, 0.8); /* Subtle edge definition */
}

/* Your chosen state */
.hero-thumbnails img.active {
    filter: brightness(0.5);
    border: 2px solid var(--red); /* Optional: add a border to make it pop */
}

.product-info-small {
    background-color: var(--gray);
    padding: 0.375rem; /* ca 6px */
    margin-inline: 0.5rem;
    grid-area: info;
}

.sleeping-pikachu {
    display: none; /* Göm på mobil, visa endast på large desktop */
}

.product-price {
    grid-area: price;
}

.product-buy-button {
    grid-area: button;
    /* Reset button defaults */
    appearance: none;
    border: none;
    background: none;

    cursor: pointer;
    background-color: var(--green);
    color: white;
    padding: var(--content-padding-block) var(--content-padding-inline);
    font-size: 2rem;
    font-weight: bold;
    border-radius: var(--button-border-radius);
    font-family: "VT323", monospace;

    /* We use shadows with 0 blur to create solid blocks of color */
    box-shadow: 
    /* The "Pixels" on the corners */ /* ca 6px */
    -0.125rem 0 0 0 #000, 
    0.125rem 0 0 0 #000, 
    0 -0.125rem 0 0 #000, 
    0 0.125rem 0 0 #000;
  
    /* Some breathing room so that it doesn't touch other elements */
    margin: 0.5rem;
}

.product-buy-button:hover {
    background-color: var(--green-darker);
    transform: translateY(0.125rem); /* Lift up 2px */
}

.product-buy-button:active {
    transform: translateY(0); /* Snap back down when pressed */
    filter: brightness(0.9); /* A little bit darker */
}

.product-feature-section {
    min-height: 17.5rem; /* 280px */
}

.feature-section-media-wrapper {
    display: none;
}

/* Denna section är inte grid längre! */
/* .upsell-section-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 6px;
}

.upsell-section-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid blue;
} */

/* Vi använder flexbox och andra funktionaliteter istället */
.carousel-wrapper {
    position: relative; /* För att positionera knapparna relativt till "the carousel track" */
    display: flex;
    align-items: center;
}

/* The Scrolling Track */
.upsell-carousel-track {
    display: flex;
    gap: var(--carousel-gap);
    overflow-x: auto; /* För att kunna scrolla horizontellt */
    scroll-behavior: smooth;
    padding-block: var(--carousel-gap);

    /* Utan denna kan the scroll sluta på ett halvt kort. Det är denna som gör att det 
    känns "snappy" och modenrt när vi scrollar och ser till att vi alltid visar ett helt till kort.
    Andra halvan för "magin" är nedan i form av scroll-snap-align: start; på individuella kortet */
    scroll-snap-type: x mandatory; 

    /* Göm scrollbar:en */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */

    width: 100%; /* Tvinga the carousel track att fylla hela wrappern */
}

/* Göm scrollbar:en för Chrome/Safari/Opera */
.upsell-carousel-track::-webkit-scrollbar {
  display: none;
}

.upsell-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* The logic: Visa 2 kort på mobil, 4 på desktop (sätts nere i Media Queryn). Detta ersätter vår grid.
    Flexbox är det bättre valet i detta fall i och med att vi "pushar element out into the overflow"! */
    
    /* FIX: Vi har 1 gap i en 2 card carousel, inte 2! 1 gaps × 16px = 16px total gap space
    (100% minus 16px of total gap space) divided by 2 */
    flex: 0 0 calc(50% - calc(var(--carousel-gap) / 2));

    /* Andra halvan av "modern snappiness magin"; se ovan i scroll-snap-type: x mandatory; 
    Detta blir the anchor point och kan liknas till en magnet.*/
    scroll-snap-align: start;

    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0.75rem; /* 12px */
    border-radius: 0.5rem;
    color: black;
    background-color: white; /* Dark gray med vit text kan oxå funka! */
}

.upsell-media-wrapper img {
    height: 100px;
    width: auto;
}

/* Vänster och höger knapparna */
.carousel-btn {
    position: absolute; /* Lägg knapparna ovanför the track och carousel korten */
    border-radius: 50%; /* Gör knapparna runda */
    background-color: rgba(0, 0, 0, 0.7); /* Gör knapparna transparenta */
    z-index: 10; /* Se till att knapparna alltid är i ett lager ovanför korten */
    
    /* Dessa två rader tillsammans ser till att knapparna blir perfectlyvertically centered */
    top: 50%; 
    transform: translateY(-50%);
    
    /* De två raderna ovan centrerar KNAPPARNA, dessa tre centrerar allt inuti knapparna */
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 2.5rem; /* ca 40px */
    height: 2.5rem;
    font-size: 1.25rem; /* ca 20px */
    
    cursor: pointer;
    color: white;
    border: 2px solid white;
    
    /* Kopplat till raden under som ändrar färgen på knappen till röd.
    Gör det inte instantly och jarring, ta 0.3s som att sätta på och av en lampa */
    transition: background 0.3s; 
}

.carousel-btn:hover {
    background-color: var(--red);
}

/* Flytta knapparna något höger och vänster så att de inte täcker knapparna */
.prev-btn { left: 1.25rem; } /* ca 20px */
.next-btn { right: 1.25rem; }

/* TODO: Add to general.css */
/* Protect specific icons from the global 'width: 100%' rule */
.footer-images img {
    height: 1rem;       /* Force the small size */
    width: auto;        /* Keep aspect ratio */
    display: inline-block; /* Let them sit side-by-side */
}

/* tablet */
@media screen and (min-width:768px) {
    section {
        padding-inline: 3.25rem; /* ca 52px */
    }

    .upsell-section-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .feature-section-text-wrapper {
        width: 75ch;
    }
}

/* small desktop */
@media screen and (min-width:960px) {
    section {
        padding-block: 5.125rem; /* 82px */ 
        padding-inline: 4.5rem; /* 72px */
    }

    .div-side {
        background-color: black;
    }    

    .product-hero-section {
        min-height: 45rem; /* ca 720px */
        grid-template-areas:
            "media title"
            "media price"
            "media info"
            "media-thumbnails button"; /* NEW: Små bilder under hero bilden. Ligger "bottom to bottom" med Köp Nu knappen */
        grid-template-columns: 1.2fr 1fr;
        align-items: start;
        text-align: left;
        justify-items: start;
    }

    .hero-img-wrapper {
        width: 100%; /* Let it fill its grid cell */
        max-width: 37.5rem; /* EDIT: ca 600px */ /* Lite mindre för att få plats med de mindre bilderna under */
        justify-self: center;
        align-self: center;
    }

    /* Gör ALLT större :) */
    .product-title {
        font-size: 3.25rem; /* ca 52px */
        align-self: end;
    }

    .product-info-small {
        font-size: 1.25rem; /* ca 20px */
        padding: 1.25rem;
        line-height: 1.4;
        max-width: 40.625rem; /* ca 650px */
    }

    .product-price {
        font-size: 3rem; /* ca 48px */
        align-self: end;
    }

    .product-buy-button {
        font-size: 2.5rem; /* ca 40px */
        padding: 1.25rem 3.75rem; /* ca 20px and 60px */
    }

    .product-info-small {
        font-size: 1.25rem;
        padding: 1.25rem;
        line-height: 1.4;
        max-width: 46.875rem; /* ca 750px */

        /* Setup för Sleeping Pikachu */
        position: relative;
        overflow: visible;
    }

    
    .product-feature-section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 0.75rem; /* ca 12px */
    }

    .feature-section-text-wrapper {
        max-width: 35ch;
        width: 100%;
    }

    .feature-section-text-wrapper h3 {
        font-size: 1.75rem; /* ca 28px */ /* Explicitly set to 28px to match upsell section h3 */
        border-left: 0.313rem solid var(--red); /* ca 5px */
        padding-left: 0.5rem;
        margin-bottom: 2rem; /* Changed from padding to margin to not mess with the red styling*/
    }

    .feature-section-media-wrapper {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(2, 7.5rem); /* ca 120px */
        gap: 0.5rem;
        align-content: center;
    }

    .product-screenshot {
        width: 100%;       /* Force the image to be as wide as the grid cell */
        height: 100%;      /*Force the image to be as tall as the row */
        object-fit: cover; /* To prevent the screenshots from stretching */
        border-radius: 0.5rem;
    }

    .product-upsell-section h3 {
        font-size: 1.75rem; /* ca 28px */
        border-left: 0.313rem solid var(--red); /* ca 5px */
        padding-left: 0.5rem;
        margin-bottom: 0.75rem; /* ca 12px */
    }
    
    .upsell-section-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .upsell-card {
        /* FIX: Vi har 3 gaps i en 4 card carousel, inte 4! 3 gaps × 16px = 48px total gap space
        /* (100% minus 48px of total gap space) divided by 4 */
        /* To use the variable, we need to subtract 3/4 of the gap from each card to make room for 3 gaps */
        flex: 0 0 calc(25% - (var(--carousel-gap) * 3 / 4));
    }

    /* Positionera knapparna reasonably på desktop också */
    .prev-btn { left: -3.125rem; } /* ca 50px */
    .next-btn { right: -3.125rem; }

    .upsell-card {
        font-size: 1.125rem; /* ca 18px */
    }

    footer {
        font-size: 1.25rem; /* ca 20px */
    }
}

/* large desktop */
@media screen and (min-width:1200px) {
    .sleeping-pikachu { /* Visas nu endast på large desktop */
        display: block;
        position: absolute; /* Takes him out of the document flow */
        
        /* vertical position: 100% from the bottom means "sit on top" */
        bottom: 100%; 
        
        /* horizontal position: 10px from the right edge */
        right: 0.063rem; /* ca 10px */  
        
        /* size him appropriately */
        width: 200px; 
        height: auto;
        
        /* för att få honom att ligga på info boxen */ /* ca 62px */
        margin-bottom: -3.875rem;
    }

    .product-feature-section {
        grid-template-columns: 1fr 2fr;
        gap: 1.5rem; /* 24px */
    }

    .feature-section-text-wrapper {
        max-width: 65ch;
        font-size: 1.25rem; /* 20px */
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .feature-section-media-wrapper {
        grid-template-rows: repeat(2, 20rem); /* ca 320px */
    }
}