@import url('https://fonts.googleapis.com/css2?family=Monoton&family=VT323&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    grid-template-columns: minmax(0, 1fr);
}

#main-content {
    color: var(--white);
    margin-bottom: 2rem;
}

.hero {
    padding-top: 7.5rem;
    display: flex;
    justify-content: center;
}

.hero-img {
    border-radius: var(--border-radius-l);
    width: 100%;
}

.hero-text {
    position: absolute;
    top: 325px;
    left: 75%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

#products h2 {
    margin: 1.25rem 0;
    padding: 0.625rem;
    border-left: 5px solid var(--red);
}

.product-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0.625rem;
    column-gap: 1rem;
    row-gap: var(--general-column-gap);
    align-items: center;
}

article {
    height: 260px;
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--white);
    border-radius: var(--border-radius-s);
    padding: 1rem;
    text-align: center;
}

.img-responsive {
    width: 100%;
    height: 70%;
}

.product-text {
    padding-top: 1rem;
}

#up-btn {
    position: fixed;
    display: none;
    border: none;
    border-radius: 2px;
    bottom: 30px;
    right: 10px;
    cursor: pointer;
    box-shadow: 2px 2px var(--gray);
    font-size: 30px;
    color: var(--red);
}

#up-btn:hover {
    background-color: var(--red);
    color: var(--white);
    box-shadow: 2px 2px var(--dark-red);
    transform: translateY(2px);
}

/* tablet and over */
@media screen and (min-width: 768px) {
    .product-section {
        grid-template-columns: repeat(4, 1fr);
    }

    .hero {
        padding-top: 4rem;
    }

    .hero-img {
        height: 80vh;
    }

    #up-btn {
        right: 30px;
    }
}








