body { 
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
    color: white;
    background-color: black;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

/* Get on the same page and merge into main */
section {
    padding-block: 48px; 
    /* padding-inline: 24px; */
}

/* Merge into main? */
p, h2, h4, button { 
    margin: 0; 
}

/* #main-content {
    border: 2px solid red;
    min-height: 460px;
} */

.product-hero-section {
    /* border: 2px solid red; */
    min-height: 460px;
    display: grid;
    justify-items: center;
    gap: 8px;
    grid-template-areas:
        "title"
        "media"
        "info"
        "price"
        "button";
}

.product-title {
    grid-area: title;
}

.product-image {
    grid-area: media;
}

.hero-img-wrapper {
    min-height: 320px;
    width: 60%;
    background-color: white;
    border-radius: 8px;
    display: flex;
    place-content: center;
}

.product-info-small {
    background-color: var(--gray);
    padding: 6px;
    margin-inline: 8px;
    grid-area: info;
}

.product-price {
    grid-area: price;
}

.product-buy-button {
    grid-area: button;
}

.product-feature-section {
    border: 2px solid green;
    min-height: 280px;
}

.feature-section-media-wrapper {
    display: none;
}

.product-upsell-section {
    border: 2px solid blue;
}

.upsell-section-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 6px;
}

.upsell-section-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid blue;
}

/* tablet */
@media screen and (min-width:768px) {
    section {
        padding-inline: 52px;
    }

    .upsell-section-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .feature-section-text-wrapper {
        width: 70ch;
    }
}

/* small desktop */
@media screen and (min-width:960px) {
    .div-side {
        background-color: black;
    }    

    .product-hero-section {
        border: 2px solid blue;
        grid-template-areas:
            "media title"
            "media info"
            "media price"
            "media button";
        grid-template-columns: repeat(2, minmax(0, 1fr));
        align-items: center;
    }

    .product-feature-section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 12px;
    }

    .feature-section-text-wrapper {
        max-width: 35ch;
        width: 100%;
        display: grid;
    }

    .feature-section-media-wrapper {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(2, 120px);
        gap: 8px;
        align-content: center;
    }

    .product-screenshot {
        width: 100%;       /* Force the image to be as wide as the grid cell */
        height: 100%;      /*Force the image to be as tall as the row */
        object-fit: cover; /* To prevent the screenshots from stretching */
        border-radius: 8px;
    }
    
    .upsell-section-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

/* large desktop */
@media screen and (min-width:1200px) {
    .product-feature-section {
        grid-template-columns: 1fr 2fr;
        gap: 24px;
    }

    .feature-section-text-wrapper {
        max-width: 60ch;
    }

    .feature-section-media-wrapper {
        grid-template-rows: repeat(2, 320px);
    }
}