body { 
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

/* Get on the same page and merge into main */
section {
    padding-block: 16px; 
    padding-inline: 16px;
}

/* Merge into main? */
p, h2, button { 
    margin: 0; 
}

/* #main-content {
    border: 2px solid red;
    min-height: 460px;
} */

.product-hero-section {
    /* border: 2px solid red; */
    min-height: 460px;
    display: grid;
    justify-items: center;
    gap: 8px;
    grid-template-areas:
        "title"
        "media"
        "info"
        "price"
        "button";
}

.product-title {
    grid-area: title;
}

.product-image {
    grid-area: media;
}

.product-info-small {
    border: 2px solid black;
    padding: 6px;
    margin-inline: 8px;
    grid-area: info;
}

.product-price {
    grid-area: price;
}

.product-buy-button {
    grid-area: button;
}

.product-feature-section {
    border: 2px solid green;
    min-height: 280px;
}

.feature-section-media-wrapper {
    display: none;
}

.product-upsell-section {
    border: 2px solid blue;
}

.upsell-section-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 6px;
}

.upsell-section-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
}

/* tablet */
@media screen and (min-width:768px) {
    section {
        padding-inline: 52px;
    }

    .upsell-section-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .feature-section-text-wrapper {
        width: 70ch;
    }
}

/* small desktop */
@media screen and (min-width:960px) {
    .div-side {
        background-color: #949C94;
    }    

    .product-hero-section {
        border: 2px solid blue;
        grid-template-areas:
            "media title"
            "media info"
            "media price"
            "media button";
        grid-template-columns: repeat(2, minmax(0, 1fr));
        align-items: center;
    }

    .product-feature-section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 24px;
    }

    .feature-section-media-wrapper {
        display: grid;
        /* border: 5px solid red; */
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(2, minmax(0, 1fr));
        gap: 8px;
    }
    
    .upsell-section-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .feature-section-text-wrapper {
        width: 50ch;
    }
}

/* large desktop */
@media screen and (min-width:1200px) {
    .div-side {
        background-color: #949C94;
    }   
}