:root {
    /* COLORS */
    --green: #4CAF50;
    --green-darker: #45a049;

    /* SPACING */
    --content-padding-block: 18px;
    --content-padding-inline: 30px;
    --button-border-radius: 4px;
}

body { 
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
    color: white;
    background-color: black;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

/* Get on the same page and merge into main */
section {
    padding-block: 48px; 
    padding-inline: 36px;
}

/* Merge into main? */
p, h2, h4, button { 
    margin: 0; 
}

#link {
    display: none;
}

/* Move this into general.css? */
img {
  max-width: 100%;
  height: auto; /* This tells the browser: 'Ignore the HTML height attribute and use the Aspect Ratio instead' */
  display: block;
}

/* #main-content {
    border: 2px solid red;
    min-height: 460px;
} */

/* .product-hero-section h1 {
    background-color: red;
} */

.product-hero-section {
    /* border: 2px solid red; */
    padding-top: 72px;
    min-height: 460px;
    display: grid;
    justify-items: center;
    gap: 24px;
    grid-template-areas:
        "title"
        "media"
        "info"
        "price"
        "button";
}

.product-title {
    grid-area: title;
    border-left: 5px solid var(--red);
    padding-left: 8px;
}

.hero-img-wrapper {
    grid-area: media;
    min-height: 320px;
    width: 100%;
    max-width: 500px; /* Se till att bilden inte blir för stor på mobil */
    display: flex;
    place-content: center;
}

.product-main-image {
    border-radius: 8px;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.45); 
    border: 1px solid rgba(255, 255, 255, 0.8); /* Subtle edge definition */
}

.product-info-small {
    background-color: var(--gray);
    padding: 6px;
    margin-inline: 8px;
    grid-area: info;
}

.product-price {
    grid-area: price;
}

.product-buy-button {
    grid-area: button;
    /* Reset button defaults */
    appearance: none;
    border: none;
    background: none;

    cursor: pointer;
    background-color: var(--green);
    color: white;
    padding: var(--content-padding-block) var(--content-padding-inline);
    font-size: 32px;
    font-weight: bold;
    border-radius: var(--button-border-radius);
    font-family: "VT323", monospace;

    /* We use shadows with 0 blur to create solid blocks of color */
    box-shadow: 
    /* The "Pixels" on the corners */
    -6px 0 0 0 #000, 
    6px 0 0 0 #000, 
    0 -6px 0 0 #000, 
    0 6px 0 0 #000;
  
    /* Some breathing room so that it doesn't touch other elements */
    margin: 8px;
}

.product-buy-button:hover {
    background-color: var(--green-darker);
    transform: translateY(-2px); /* Lift up 2px */
}

.product-buy-button:active {
    transform: translateY(0); /* Snap back down when pressed */
    filter: brightness(0.9); /* A little bit darker */
}

.product-feature-section {
    border: 2px solid green;
    min-height: 280px;
}

.feature-section-media-wrapper {
    display: none;
}

.product-upsell-section {
    border: 2px solid blue;
}

.upsell-section-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 6px;
}

.upsell-section-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid blue;
}

/* TODO: Add to general.css */
/* Protect specific icons from the global 'width: 100%' rule */
.footer-images img {
    height: 16px;       /* Force the small size */
    width: auto;        /* Keep aspect ratio */
    display: inline-block; /* Let them sit side-by-side */
}

/* tablet */
@media screen and (min-width:768px) {
    section {
        padding-inline: 52px;
    }

    .upsell-section-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .feature-section-text-wrapper {
        width: 75ch;
    }
}

/* small desktop */
@media screen and (min-width:960px) {
    section {
        padding-block: 82px; 
        padding-inline: 72px;
    }

    .div-side {
        background-color: black;
    }    

    .product-hero-section {
        min-height: 720px;
        border: 2px solid blue;
        grid-template-areas:
            "media title"
            "media info"
            "media price"
            "media button";
        grid-template-columns: 1.2fr 1fr;
        align-items: start;
        text-align: left;
        justify-items: start;
    }

    .hero-img-wrapper {
        width: 100%; /* Let it fill its grid cell */
        max-width: 700px;
        justify-self: center;
        align-self: center;
    }

    /* Gör ALLT större :) */
    .product-title {
        font-size: 52px;
        /* align-self: end; */
    }

    .product-info-small {
        font-size: 20px;
        padding: 20px;
        line-height: 1.4;
    }

    .product-price {
        font-size: 48px;
    }

    .product-buy-button {
        font-size: 40px;
        padding: 20px 40px;
    }

    .product-feature-section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 12px;
    }

    .feature-section-text-wrapper {
        max-width: 35ch;
        width: 100%;
        display: grid;
    }

    .feature-section-media-wrapper {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(2, 120px);
        gap: 8px;
        align-content: center;
    }

    .product-screenshot {
        width: 100%;       /* Force the image to be as wide as the grid cell */
        height: 100%;      /*Force the image to be as tall as the row */
        object-fit: cover; /* To prevent the screenshots from stretching */
        border-radius: 8px;
    }
    
    .upsell-section-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    footer {
        font-size: 20px;
    }
}

/* large desktop */
@media screen and (min-width:1200px) {
    .product-feature-section {
        grid-template-columns: 1fr 2fr;
        gap: 24px;
    }

    .feature-section-text-wrapper {
        max-width: 60ch;
    }

    .feature-section-media-wrapper {
        grid-template-rows: repeat(2, 320px);
    }
}