* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--black);
}

#main-content {
    color: var(--white);
}

.hero {
    padding-top: 100px;
}

#console {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

article {
    background-color: var(--white);
    color: var(--black);
}








