* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--black);
}

header {
    z-index: 1;
}

#main-content {
    color: var(--white);
}

.hero {
    padding-top: 80px;
}

.hero img {
    border-radius: var(--border-radius-l);
}

.hero-text {
    position: absolute;
    top: 325px;
    left: 75%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

#products h2 {
    margin: 20px 0px;
    padding: 10px;
    border-left: 5px solid var(--red);
}

.product-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    margin: 10px 0px;
    column-gap: var(--general-column-gap);
    row-gap: var(--general-column-gap);
}

article {
    min-height: 240px;
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--white);
    border-radius: var(--border-radius-s);
    padding: 16px;
    text-align: center;
}










