@import url('https://fonts.googleapis.com/css2?family=Monoton&family=VT323&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: var(--black);
}

#main-content {
    color: var(--white);
    margin-bottom: 2rem;
}

.hero {
    padding-top: 7.5rem;
    display: flex;
    justify-content: center;
}

.hero-img {
    border: 6px solid var(--white);
    border-radius: var(--border-radius-l);
    width: 100%;
}

#products h2 {
    margin: 1.25rem 0;
    padding: 0.625rem;
    border-left: 5px solid var(--red)
}

.product-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0.625rem;
    column-gap: 1rem;
    row-gap: var(--general-column-gap);
    align-items: center;
}

article {
    height: 260px;
    background-color: var(--white);
    color: var(--black);
    border-radius: var(--border-radius-s);
    padding: 1rem;
    text-align: center;
    border: 3px solid var(--red);
}    

article:hover {
    transform: translateY(-4px) rotate(-0.5deg);
}

.img-responsive {
    width: 100%;
    height: 70%;
}

.product-text {
    padding-top: 1rem;
}

/* tablet and over */
@media screen and (min-width: 768px) {
    .product-section {
        grid-template-columns: repeat(4, 1fr);
    }

    .hero {
        padding-top: 4rem;
    }

    
    #up-btn {
        right: 30px;
    }
}

/* small desktop */
@media screen and (min-width: 960px) {
    article {
        height: 300px;
    }
}

/* large desktop */
@media screen and (min-width: 1200px) {
    .hero-img {
        height: 80vh;
}
}








