:root {
    /* COLORS */
    --green: #4CAF50;
    --green-darker: #45a049;

    /* SPACING */
    --content-padding-block: 18px;
    --content-padding-inline: 30px;
    --button-border-radius: 4px;
}

body { 
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
    color: white;
    background-color: black;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

/* Get on the same page and merge into main */
section {
    padding-block: 48px; 
    /* padding-inline: 24px; */
}

/* Merge into main? */
p, h2, h4, button { 
    margin: 0; 
}

/* #main-content {
    border: 2px solid red;
    min-height: 460px;
} */

.product-hero-section {
    /* border: 2px solid red; */
    min-height: 460px;
    display: grid;
    justify-items: center;
    gap: 8px;
    grid-template-areas:
        "title"
        "media"
        "info"
        "price"
        "button";
}

.product-title {
    grid-area: title;
}

.product-image {
    grid-area: media;
}

.hero-img-wrapper {
    min-height: 320px;
    width: 60%;
    background-color: white;
    border-radius: 8px;
    display: flex;
    place-content: center;
}

.product-info-small {
    background-color: var(--gray);
    padding: 6px;
    margin-inline: 8px;
    grid-area: info;
}

.product-price {
    grid-area: price;
}

.product-buy-button {
    grid-area: button;
    /* Reset button defaults */
    appearance: none;
    border: none;
    background: none;

    cursor: pointer;
    background-color: var(--green);
    color: white;
    padding: var(--content-padding-block) var(--content-padding-inline);
    font-size: 32px;
    font-weight: bold;
    border-radius: var(--button-border-radius);
    font-family: "VT323", monospace;

    /* We use shadows with 0 blur to create solid blocks of color */
    box-shadow: 
    /* The "Pixels" on the corners */
    -6px 0 0 0 #000, 
    6px 0 0 0 #000, 
    0 -6px 0 0 #000, 
    0 6px 0 0 #000;
  
    /* Some breathing room so that it doesn't touch other elements */
    margin: 8px;
}

.product-buy-button:hover {
    background-color: var(--green-darker);
    transform: translateY(-2px); /* Lift up 2px */
}

.product-buy-button:active {
    transform: translateY(0); /* Snap back down when pressed */
    filter: brightness(0.9); /* A little bit darker */
}

.product-feature-section {
    border: 2px solid green;
    min-height: 280px;
}

.feature-section-media-wrapper {
    display: none;
}

.product-upsell-section {
    border: 2px solid blue;
}

/* Denna section är inte grid längre! */
/* .upsell-section-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 6px;
}

.upsell-section-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid blue;
} */

/* Vi använder flexbox och andra funktionaliteter istället */
.carousel-wrapper {
    position: relative; /* För att positionera knapparna relativt till "the carousel track" */
    display: flex;
    align-items: center;
}

/* The Scrolling Track */
.upsell-carousel-track {
    display: flex;
    gap: 16px;
    overflow-x: auto; /* För att kunna scrolla horizontellt */
    scroll-behavior: smooth;
    padding-block: 16px;

    /* Utan denna kan the scroll sluta på ett halvt kort. Det är denna som gör att det 
    känns "snappy" och modenrt när vi scrollar och ser till att vi alltid visar ett helt till kort.
    Andra halvan för "magin" är nedan i form av scroll-snap-align: start; på individuella kortet */
    scroll-snap-type: x mandatory; 

    /* Göm scrollbar:en */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */

    width: 100%; /* Tvinga the carousel track att fylla hela wrappern */
}

/* Göm scrollbar:en för Chrome/Safari/Opera */
.upsell-carousel-track::-webkit-scrollbar {
  display: none;
}

.upsell-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* The logic: Visa 2 kort på mobil, 4 på desktop (sätts nere i Media Queryn). Detta ersätter vår grid.
    Flexbox är det bättre valet i detta fall i och med att vi "pushar element out into the overflow"! */
    flex: 0 0 calc(50% - 16px);

    /* Andra halvan av "modern snappiness magin"; se ovan i scroll-snap-type: x mandatory; 
    Detta blir the anchor point och kan liknas till en magnet.*/
    scroll-snap-align: start;

    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 12px;
    border-radius: 8px;
    color: black;
    background-color: white; /* Dark gray med vit text kan oxå funka! */
}

.upsell-media-wrapper img {
    height: 100px;
    width: auto;
}

/* Vänster och höger knapparna */
.carousel-btn {
    position: absolute; /* Lägg knapparna ovanför the track och carousel korten */
    border-radius: 50%; /* Gör knapparna runda */
    background-color: rgba(0, 0, 0, 0.7); /* Gör knapparna transparenta */
    z-index: 10; /* Se till att knapparna alltid är i ett lager ovanför korten */
    
    /* Dessa två rader tillsammans ser till att knapparna blir perfectlyvertically centered */
    top: 50%; 
    transform: translateY(-50%);
    
    /* De två raderna ovan centrerar KNAPPARNA, dessa tre centrerar allt inuti knapparna */
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 40px;
    height: 40px;
    font-size: 20px;
    
    cursor: pointer;
    color: white;
    border: 2px solid white;
    
    /* Kopplat till raden under som ändrar färgen på knappen till röd.
    Gör det inte instantly och jarring, ta 0.3s som att sätta på och av en lampa */
    transition: background 0.3s; 
}

.carousel-btn:hover {
    background-color: var(--red);
}

/* Flytta knapparna något höger och vänster så att de inte täcker knapparna */
.prev-btn { left: -20px; }
.next-btn { right: -20px; }

/* tablet */
@media screen and (min-width:768px) {
    section {
        padding-inline: 52px;
    }

    .upsell-section-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .feature-section-text-wrapper {
        width: 70ch;
    }
}

/* small desktop */
@media screen and (min-width:960px) {
    .div-side {
        background-color: black;
    }    

    .product-hero-section {
        border: 2px solid blue;
        grid-template-areas:
            "media title"
            "media info"
            "media price"
            "media button";
        grid-template-columns: repeat(2, minmax(0, 1fr));
        align-items: center;
    }

    .product-feature-section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 12px;
    }

    .feature-section-text-wrapper {
        max-width: 35ch;
        width: 100%;
    }

    .feature-section-text-wrapper h3 {
        padding-bottom: 12px;
    }

    .feature-section-media-wrapper {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(2, 120px);
        gap: 8px;
        align-content: center;
    }

    .product-screenshot {
        width: 100%;       /* Force the image to be as wide as the grid cell */
        height: 100%;      /*Force the image to be as tall as the row */
        object-fit: cover; /* To prevent the screenshots from stretching */
        border-radius: 8px;
    }
    
    .upsell-section-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .feature-section-text-wrapper {
        width: 50ch;
    }

    .upsell-card {
        /* 100% / 4 items = 25%. Minus the gap adjustment */
        flex: 0 0 calc(25% - 16px); 
    }

    /* Positionera knapparna reasonably på desktop också */
    .prev-btn { left: -50px; }
    .next-btn { right: -50px; }

    .upsell-card {
        font-size: 18px;
    }

    footer {
        font-size: 20px;
    }
}

/* large desktop */
@media screen and (min-width:1200px) {
    .product-feature-section {
        grid-template-columns: 1fr 2fr;
        gap: 24px;
    }

    .feature-section-text-wrapper {
        max-width: 65ch;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .feature-section-media-wrapper {
        grid-template-rows: repeat(2, 320px);
    }
}